body{
    background-color: rgba(63, 77, 88, 0.877);
    margin: 0;
    overflow: hidden;
}

h1{
    font-family: Verdana;
    background-color: rgb(44, 81, 216);
    height: 7vh;
    display: flex;
    justify-content: center;
    margin: -1%;
    color: white;
    padding-top: 5vh;
    animation-name: myAnimation;
    animation-duration: 2s;
    font-size: 3vh;
}
@keyframes myAnimation {
  from {height: 0vh; background-color: antiquewhite;}
  to {height: 7vh; background-color: rgb(56, 92, 222);}
}
.container{
    display: flex;
    justify-content: flex-start;    
    gap: 30px;                 
    height: 20vh;              
    margin-left: 20vh;
    margin-bottom: 10vh;
}

img{
    border-radius: 20%;
    height: 24vh;
    border: 4px solid #ccc;
}

p{
    font-family: Verdana;
    color: white;
    font-size: 2vh;
    border-radius: 20px;
    padding: 5px;
    background-color: #0000003f;
    max-width: 80%;
    word-break: break-all;
    text-align: justify;
    hyphens: auto;
}
h2{
    font-family: monospace;
    color: white;
    text-align: center;
    margin-right: 80vh;
    margin-top: 3vh;
    font-size: 4vh;
}