body{
    background-color: rgb(63, 77, 88);
}
h1{
    font-family: Verdana;
    background-color: rgb(44, 81, 216);
    height: 7vh;
    display: flex;
    justify-content: center;
    margin: -1%;
    color: white;
    padding-top: 5vh;
    animation-name: myAnimation;
    animation-duration: 2s;
}
@keyframes myAnimation {
  from {height: 0vh; background-color: antiquewhite;}
  to {height: 7vh; background-color: rgb(56, 92, 222);}
}
img{
    border-radius: 20%;
    margin-top: 5vh;
    height: 24vh;
    width: auto;
    border: 1px solid #ccc;

}
