body{
    background-color: rgba(63, 77, 88, 0.877);
    margin: 0;
    overflow: hidden;
}

h1{
    font-family: Verdana;
    background-color: rgb(44, 81, 216);
    height: 7vh;
    display: flex;
    justify-content: center;
    margin: -1%;
    color: wheat;
    padding-top: 5vh;
    animation-name: myAnimation;
    animation-duration: 2s;
    font-size: 3vh;
}
@keyframes myAnimation {
  from {height: 0vh; background-color: antiquewhite;}
  to {height: 7vh; background-color: rgb(56, 92, 222);}
}
.container{
    display: flex;
    justify-content: flex-start;    
    gap: 30px;                 
    height: 20vh;              
    margin-left: 20vh;
    margin-bottom: 10vh;
}

.MC{
    border-radius: 10%;
    height: 22vh;
    border: 1vh solid #ccc;
}

p{
    font-family: Verdana;
    color: white;
    font-size: 2vh;
    border-radius: 1vh;
    padding: 5px;
    background-color: #0000003f;
    max-width: 80%;
    word-break: break-all;
    text-align: justify;
    hyphens: auto;
}
h2{
    font-family: monospace;
    color: wheat;
    text-align: center;
    margin-right: 80vh;
    margin-top: 3vh;
    font-size: 4vh;
        max-width: 100%;
}
.p2{
    font-family: Verdana;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 3vh;
    position: relative;
    top: 15vh;
    color: white;
    background-color: #0000003f;
    border-radius: 1vh;
    max-width: 28%;
    font-size: 2vh;
}
.imgpc{
    border-radius: 10%;
    height: 18vh;
    border: 1dvh solid #fff0f0;
    margin-top: 18vh;
    width: auto ;
    margin-left:-5%;
}
.sbt{
    margin-top: 3vh;
    font-family: Verdana;
    color: wheat;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    background-color: #0000003f;
    width: 100%;
    text-align: center;

}
.h3{
    margin-top: 3vh;
    font-family: Verdana;
    color: wheat;
    position: absolute;
    font-size: 3vh;
    width: 100%;
    text-align: center;
    right: 50vh;
    bottom: 35vh;
}
.h4{
    margin-top: 3vh;
    font-family: Verdana;
    color: wheat;
    position: absolute;
    font-size: 3vh;
    width: 100%;
    text-align: center;
    left: 30%;
    bottom: 33vh;
}
p3{
    font-family: Verdana;
    display: flex;
    justify-content: left;
    margin-top: 3vh;
    position: relative;
    top: 15vh;
    color: white;
    background-color: #0000003f;
    max-width: 28%;
    font-size: 2vh;


}
.imgtela{
    height: 15vh;
    border: 1dvh solid #ccc;
    border-radius: 10%;
    margin-top: 18vh;
    position: relative;
}